{% set project = "co" %}
{% extends "layouts/cool.html" %}
{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-black"><strong></strong></h1>
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/07/20/1658279674826d4b1c21cdc4ed85c812c4c183a101_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$36.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/05/19/1652922808acc677dbab7c0d977747e9887d207c41_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$18.99</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/05/27/1653614313ab65afccc094321d2809e7260f2915f8.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$24.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/05/16/1652665691d8ec8584d9388b466d766f3c81f37e0f.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$19.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/04/27/16510320933df60fb4c882de1f461c283b999bea84.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$19.49</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/05/20/1653038910b44a155d9914323b6832a1b3b2dcb600.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$20.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <h4 class="card-text"></h4>
            <h4 class="card-text"></h4>
            <h4 class="card-text"></h4>
            <h4 class="card-text"></h4>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/01/17/1642385849997ab832a70d4402b6f02d199cf5fc07.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$30.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/07/20/1658305078ee6f9698f66c683e4eb683a5751bb19e.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$23.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/05/19/1652946464b0432f634a3d1785a5777bda91c041d7.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$28.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/05/07/16519008798cf909f7d094d67888647936a0429c91.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$23.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2021/06/17/1623897352808c3bf11fb9cde6c1c04f36f46f17de.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$27.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/05/16/16526919379e02c7b2255c32fbf673a977944338c0.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$28.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block background %}
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0NDw0NDQ8NDQ0NDQ0NDQ0NDQ8NDw0NFREWFhURFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0PEisZFRkrKysrKysrKysrKystKysrLSsrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAKwBJgMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIhABAQACAAQHAAAAAAAAAAAAAAERIQJBgfEiMVFhcbHw/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AO4gAAAlvlrr6KAAAAJICgAAAAAAAAAAAAAAAM8XFZeHEtluLczw6tzfrq0AAAAAAAAAAAAAAAAAAAAAAAAAAAAACZ7qAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJfZQAAAAAgAAAAAAAAAAAAAAAAAACfvlQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAAAAAAAAAJYCgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAARQAAAAAAAAAAAAEwoAAAACSqAAAAAAAAAAAAAAAAAAAAAAAAAAAAACXPLW5yzrKgAAAAAAAAAAAAAAAmFAAAAAAAABKoAAAAA//Z');
}
</style>
</head>

</html>
{% endblock %}