{% set project = "jew" %}
{% extends "layouts/cool.html" %}
{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-black"><strong></strong></h1>
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/09/16/16632979284b6c5c4f7fcd46f7e52b039c1bed94ae_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$6.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2021/07/30/1627629389e0d4a01471066b6cf3962f800bbc28d1_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$2.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/08/23/166123234927a64c8622f5a8ffe626ed00e3f0f0f2_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$4.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2020/11/04/1604475108c01e876d7f67bcf4899736f496615b0f_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$2.50</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2021/08/24/16297983657b52a5a7c135c6109f250ea25450a6b2_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$1.50</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/08/04/16595796599dd830e6a2002795b60bfe06fb44c8db_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$3.50</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <h4 class="card-text"></h4>
            <h4 class="card-text"></h4>
            <h4 class="card-text"></h4>
            <h4 class="card-text"></h4>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2021/09/14/163162568333d45d273f9b0a118626f89b0f47eef4_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$2.50</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2021/08/02/16278701230d8f485226490a9e13573db0f7ae16ae_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$1.50</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2021/09/06/16309075250dfc6f8164d1fd75c8a00b334aa2e505_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$1.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2021/07/22/162694814273022bc2d68b5b089c57e15db0b01b13_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$1.50</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/05/11/1652266716a0551b8a0d29793ec789f700146978eb_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$1.50</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2021/06/21/162426455449045607d088fe8d682c295874785306_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$1.50</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block background %}
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0NDw0NDQ8NDQ0NDQ0NDQ0NDQ8NDw0NFREWFhURFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0PEisZFRkrKysrKysrKysrKystKysrLSsrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAKwBJgMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIhABAQACAAQHAAAAAAAAAAAAAAERIQJBgfEiMVFhcbHw/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AO4gAAAlvlrr6KAAAAJICgAAAAAAAAAAAAAAAM8XFZeHEtluLczw6tzfrq0AAAAAAAAAAAAAAAAAAAAAAAAAAAAACZ7qAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJfZQAAAAAgAAAAAAAAAAAAAAAAAACfvlQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAAAAAAAAAJYCgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAARQAAAAAAAAAAAAEwoAAAACSqAAAAAAAAAAAAAAAAAAAAAAAAAAAAACXPLW5yzrKgAAAAAAAAAAAAAAAmFAAAAAAAABKoAAAAA//Z');
}
</style>
</head>

</html>
{% endblock %}