{% set project = "shirt" %}
{% extends "layouts/cool.html" %}
{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-black"><strong></strong></h1>
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/08/25/16614140822eadb2649ce2f997254e4750d181b56c_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$16.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/07/08/1657264998cffbb5221d39061a1836e3b23ad815bd_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$9.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/06/14/165520266657b40597012500bf5eb24856c7ad6a81_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$9.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/08/01/1659353029e664ae2d3890072bd026716852cb797c_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$11.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2021/12/20/16399662468e50b474496cdfdf18834d54df98f6d8_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$11.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2021/05/08/1620465800404752fa6a990ff04d7280c47b87516f_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$13.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <h4 class="card-text"></h4>
            <h4 class="card-text"></h4>
            <h4 class="card-text"></h4>
            <h4 class="card-text"></h4>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2021/12/01/16383216669fd9b812b85ebee2b8c692d0e6a6cfa2_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$13.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/08/22/16611510602d3b3e1d110742c4f6062a5ac008dcfb_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$11.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2021/08/30/1630320432e943ffbbf417f60e7b4ad0988b103ef8_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$12.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/07/20/16583052926bb55fe499f6490c9f361cf233c7bdc5_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$11.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/07/07/1657176911401aad3ef93f98cc538d8f0951abe2c2_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$10.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="card">
                    <img class="card-img-top" src="https://img.ltwebstatic.com/images3_pi/2022/03/07/16466171089b63b0846a06d6b40ef28d2072daa556_thumbnail_900x.webp" alt="Python Development" height="250">
                    <div class="card-body">
                    <h7 class="card-text">US$14.00</h7>
                    <p class="card-text">
                        <ol>
                           
                        </ol>
                    </p>
                    <a class="btn btn-outline-dark" href={{ url_for('projects.shirt') }}>ADD TO CART</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block background %}
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBw0NDw0NDQ8NDQ0NDQ0NDQ0NDQ8NDw0NFREWFhURFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NDg0PEisZFRkrKysrKysrKysrKystKysrLSsrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIAKwBJgMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QAIhABAQACAAQHAAAAAAAAAAAAAAERIQJBgfEiMVFhcbHw/8QAFAEBAAAAAAAAAAAAAAAAAAAAAP/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAMAwEAAhEDEQA/AO4gAAAlvlrr6KAAAAJICgAAAAAAAAAAAAAAAM8XFZeHEtluLczw6tzfrq0AAAAAAAAAAAAAAAAAAAAAAAAAAAAACZ7qAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJfZQAAAAAgAAAAAAAAAAAAAAAAAACfvlQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAoAAAAAAAAAJYCgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAARQAAAAAAAAAAAAEwoAAAACSqAAAAAAAAAAAAAAAAAAAAAAAAAAAAACXPLW5yzrKgAAAAAAAAAAAAAAAmFAAAAAAAABKoAAAAA//Z');
}
</style>
</head>

</html>
{% endblock %}