{% set project = "welcome" %}
{% extends "layouts/welcomebase.html" %}

{% block body %}
<h4 class="text-white">-</h4>
<h4 class="text-white">-</h4>
<h4 class="text-white">-</h4>
<h4 class="card-text"></h4>
<h4 class="card-text"></h4>
<h4 class="card-text"></h4>
<h4 class="card-text"></h4>
<h4 class="card-text"></h4>
<h4 class="card-text"></h4>
<div class="px-4 py-5 mx-auto">
  <h1 class="text-white"><strong>Pick from over <strong>100</strong> different name brands with Quinn Elizabeth</h1>
  <h7 class="text-white">
    Quinn Elizabeth is a global fashion and lifestyle e-retailer committed to making the beauty of fashion accessible to all. We use on-demand manufacturing technology to connect suppliers to our agile supply chain, reducing inventory waste and enabling us to deliver a variety of affordable products to customers around the world. If you have any problems reach the creator at <strong>quinnbireley3.14@gmail.com</strong></strong> </h7>
</div>
<div class="d-grid gap-1 col-5 mx-auto">
<a class="btn btn-outline-light" href={{ url_for('projects.options') }}>Start Shoping</a>
</div>
{% endblock %}