{% set project = "wow" %}
{% extends "layouts/dru.html" %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>



<img class="position-absolute top-50 start-50 translate-middle" src="https://raw.githubusercontent.com/TheOneWhoWill/Mydrugs/Old-Version/src/logos/White%20Logo.png" alt="Paris" style="width:25%;">

</body>
</html>
{% endblock %}
{% block background %}
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('https://w0.peakpx.com/wallpaper/375/1008/HD-wallpaper-blackness-black-plain-thumbnail.jpg');
}
</style>
</head>

</html>
{% endblock %}