{% set project = "wow" %}
{% extends "layouts/dru.html" %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

<a class= ></a>

</body>
</html>
{% endblock %}
{% block background %}
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-image: url('https://w0.peakpx.com/wallpaper/375/1008/HD-wallpaper-blackness-black-plain-thumbnail.jpg');
}
</style>
</head>

</html>
{% endblock %}