{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
<h4 class="text-white">-</h4>
<h4 class="text-white">-</h4>
<h4 class="text-white">-</h4>
<h4 class="card-text"></h4>
<h4 class="card-text"></h4>
<h4 class="card-text"></h4>
<!DOCTYPE html>
<html>
<body>

<p>Click on the w3schools logo to download the image:<p>

<a href="https://3d-aspose-app.s3.us-west-2.amazonaws.com/p/c6018409-ed04-4203-aeb7-4fe7b339d185/result?X-Amz-Expires=86400&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA4XIV7DNDFPZP23Z5/20221025/us-west-2/s3/aws4_request&X-Amz-Date=20221025T204226Z&X-Amz-SignedHeaders=host&X-Amz-Signature=cf254968fe494babfc30d59fcc384834d394772d2cd6c0cc86016c1bbac26215" download>
  <img src="/images/myw3schoolsimage.jpg" alt="W3Schools" width="104" height="142">
</a>

<p><b>Note:</b> The download attribute is not supported in Edge version 12, IE, Safari 10 (and earlier), or Opera version 12 (and earlier).</p>

</body>
</html>
<h4 class="card-text"></h4>
<h4 class="card-text"></h4>
<h4 class="card-text"></h4>
<div class="px-5 py-5 mx-auto">
  <h1 class="text-white"><strong>Pick from over <strong>100</strong> difrent name brands with Quinn Elizabeth</h1>
  <h7 class="text-white">
    Quinn Elizabeth is a global fashion and lifestyle e-retailer committed to making the beauty of fashion accessible to all. We use on-demand manufacturing technology to connect suppliers to our agile supply chain, reducing inventory waste and enabling us to deliver a variety of affordable products to customers around the world. If you have any problems reach the creator at <strong>quinnbireley3.14@gmail.com</strong></strong> </h7>
</div>
<div class="d-grid gap-1 col-5 mx-auto">
<a class="btn btn-outline-light" href={{ url_for('projects.options') }}>Start Shoping</a>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";    
  {% endblock %}